.env
.git
.gitignore
.github
node_modules
public/build
public/hot
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor
tests
.sqlite
Dockerfile
.dockerignore
docker-compose.yml
*.md
