/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
/.phpunit.result.cache
/phpunit.xml
/public/mix-manifest.json
/public/build

/public/js

/public/images
/public/icon-*.png
/public/favicon.svg
/public/manifest.json
/public/sw.js
/coverage
/.env
/.env.backup
.phpunit.cache
docker-compose.override.yml
docker-compose.yml
.dockerignore
